# OS / editor
.DS_Store
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
.env
.envrc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlartifacts/
mlruns/
mlflow.db

# Logs / temp
*.log
tmp/